version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: vigilant
      POSTGRES_USER: vigiladmin
      POSTGRES_PASSWORD: vigilpass
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ../backend
    env_file:
      - ../backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ../frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data:
